<div id="nav-bar-container">
  <section class="logo-container">
    <section class="logo-text p1">
      Gunit
    </section>
    <section class="logo-text p2">
      Gurus
    </section>
  </section>
  <section class="nav-bar-btns-container">
    <button mat-button routerLink="/home" routerLinkActive="active-page-btn">Home</button>
    <button mat-button routerLink="/courses" routerLinkActive="active-page-btn">Courses</button>
    <button mat-button routerLink="/educators" routerLinkActive="active-page-btn">Educators</button>
    <button mat-button routerLink="/pricing" routerLinkActive="active-page-btn">Pricing</button>
  </section>
</div>
